
#btn-trabajos{
  padding-top: 20%;
}

img{
	width: 100%;
}

#container-social{
	width: 10%;
}
.container{
	padding-top: 10%;
}
#sobre-ilse{
	display: none;
}
#skills{
	display: block;
}
#experiencia{
	display: none;
}